###########
# Database
###########
#POSTGRES_URL=postgres://myuser:***@postgres:5432/isep_db
POSTGRES_URL=postgres://myuser:***@192.168.64.147:5432/isep_db

POSTGRES_USER=myuser
POSTGRES_PASSWORD=***ENTFERNT***
POSTGRES_DB=isep_db
POSTGRES_PORT=5432

REDIS_URL=redis://192.168.64.147:6379

###########
# Auth MS / Keycloak
###########
KEYCLOAK_URL=http://192.168.64.148:8080
KEYCLOAK_REALM=ludo
KEYCLOAK_CLIENT_ID=ludo-app
KEYCLOAK_CLIENT_SECRET=***ENTFERNT***
KEYCLOAK_CALLBACK_URL=http://localhost:3000/auth/oauth/callback
SESSION_SECRET=***ENTFERNT***

###########
# Dice MS
###########
DICE_SERVICE_URL=http://192.168.64.148:3100

#on VMs
#AFTER_LOGIN_REDIRECT_URL=/
#local testing
AFTER_LOGIN_REDIRECT_URL=http://localhost:5173

BACKEND_PORT=3000
NODE_ENV=development